# Python Einführung
## Basics
Das ist eine Markdownzelle für Kommentare.

In [62]:
print("Hallo Welt")

Hallo Welt

## Kommentare

In [63]:
# Das ist ein Kommentar in Python, nicht in Markdown
print("Hallo Welt")

Hallo Welt

## Einfache Datentypen

In [64]:
# Variablen und Wertezuweisung (Value-Assignment)
# Datentyp: String / Zeichenkette
name = "Hawking"
print(name)

Hawking

In [65]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [66]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [67]:
# Bolean - Boolsche Werte 
is_scientist = True
print(is_scientist)

True

In [68]:
type(name)

str

## Operatoren

In [69]:
5 + 5

10

In [70]:
age * 100

7300

In [71]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [72]:
name + "10"

'Hawking10'

In [73]:
size/age

0.023456164383561642

In [74]:
num_or_art = "50"

In [75]:
# num_or_art / 10
# funktioniert nicht nur als Test

In [76]:
int(num_or_art) / 10
# Ändert den Datentyp nicht, sondern wandelt ihn nur für die Berechnung um

5.0

In [77]:
type(num_or_art)

str

In [78]:
%who
# gibt in Jupyter Notebook alle definierten Variablen aus (kein Python Befehl!)

age	 is_scientist	 name	 num_or_art	 size

In [79]:
num_or_art = int(num_or_art)
#überschreibt eine Variable mit dem richtigen Datentyp
print(num_or_art)

50

## Funktionen und Methoden

In [80]:
len(name)
# gibt die Länge aus, hier Anzahl der Buchstaben

7

In [81]:
#Funktionen die an einem Objekt anhängen sind Methoden. Methode hier upper und Objekt ist die Variable name
#Ändert nicht den Inhalt der Variable name
name.upper()

'HAWKING'

In [82]:
print(name)
name = name.upper()
# Wenn der Inhalt der Variable verändert werden soll: Neu zuweisen
print(name)

Hawking
HAWKING

In [83]:
name.replace("W", "BLAAAA")
# Objekt.methode("zu ersetzendes", "ersatztext")

'HABLAAAAKING'

In [84]:
first_name = "Anna"

In [85]:
first_name.count("A")

1

In [86]:
first_name + name

'AnnaHAWKING'

In [87]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [88]:
names = ["Darwin", "Hawking", "Curie"]

In [90]:
names[1]
# liest das zweite Element aus

'Hawking'

In [91]:
names[0]
# liest das erste Element aus

'Darwin'

In [92]:
# wenn Länge der Liste unbekannt ist, mit length ausgeben
len(names)

3

In [93]:
names[-1]
#gibt das letzte Element der Liste aus

'Curie'

In [94]:
names[0:2]
# Element 0 und 1, aber nicht 2. Das erste ist einschließlich, das zweite ausschließlich

['Darwin', 'Hawking']

In [96]:
names[:]
# alle Elemente ausgeben. geht aber auch mit names []

['Darwin', 'Hawking', 'Curie']

In [99]:
names[:3]
# Von Anfang bis Element 3

['Darwin', 'Hawking', 'Curie']

In [102]:
# Dictionaries sind Schlüssel-Wert-Paare
# Zeilenumbrüche sind nicht sinntragend, daher anordnen wie es sinnvoll erscheint
# Dictionaries können auch wieder Listen und Dictionaries beinhalten, kann diverse Ebenen haben
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 83, 
                    "Lovelace": 37}

In [103]:
authors_and_ages["Darwin"]
# Aufruf dann nicht mehr mit Stelle sondern mit Schlüssel

73

In [104]:
names.append("Kleist")
# neue Listeneinträge hinzufügen
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [105]:
authors_and_ages["Rowling"] = 53
# neuen Eintrag im Dictionary hinzufügen
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovelace': 37, 'Rowling': 53}

## for-Schleife

In [107]:
for name in names:
    print(name)
# Liste names Schritt für Schritt durchgehen und ausgeben
# Anweisungen eingerückt um 4 Leerzeichen oder 1 Tab

Darwin
Hawking
Curie
Kleist

In [109]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

In [110]:
for name in names:
    print(name + " is a great name")
    print ("In der Schleife")
print("Nach der Schleife")

Darwin is a great name
In der Schleife
Hawking is a great name
In der Schleife
Curie is a great name
In der Schleife
Kleist is a great name
In der Schleife
Nach der Schleife

## Bedingte Anweisungen - Conditionals

In [111]:
temp = 20 
if temp > 15:
    print("It's warm")

It's warm

In [112]:
temp = 20 
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [113]:
temp = 10 
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [116]:
temp = 20
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm